.podval{       
    background: #C8A35F;
}
.podval__content{
    align-items: center;
}
.adress,.podval__content{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #F2F2F2;
    padding-left: 20px;
}
.logo{
    width: 105px;
    height: 105px;
}