.container {
    max-width: 1110px; 
    margin: 0 auto;
}
.shapka__content{
    justify-content: space-around;
}
.shapka{
    background: #C8A35F;
    padding: 16px 16px;
}
.shapka__cont,.shapka__phone,.shapka__email{
    font-family:"Roboto";
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    margin-right: 10px;
    align-items: center; 
    
}

.menu__logo{
    margin-top: 27px;
}
.meno__logo__content{    
    justify-content: space-around;
}
.logo{
    margin-right: 55px;
}
.our__offices{
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    margin-left: 13px;    
    color: #FFFFFF;
    
    
}
 
.menu__list p{
    margin: 0;
    margin-right: 25px;
    font-family: Roboto;
    font-style: normal;    
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__logo__img__sec{
    width: 25px;   
}


.razdelitel{
    width: 0;
    height: 46px;
    border: 1px solid #F2F2F2;
    margin-right: 35px;
    margin-left: 32px;    
}
.gruppa__menu__logo {    
    justify-content: space-around;
      
}
.menu{
    margin-left: 346px;
}